.contact {
  padding: 40px 0;
}

.contact-form {
  text-align: center;
  margin-bottom: 40px;
}

.contact-form h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.contact-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-form input,
.contact-form textarea {
  width: 40%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.contact-form button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #0056b3;
}

.social-media {
  text-align: center;
}

.social-media h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.social-links {
  display: flex;
  justify-content: center;
}

.social-links a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  margin: 0 5px;

  color: #fff;
  border-radius: 50%;
  text-decoration: none;
}

.social-links a:hover {
  background-color: #0056b3;
}
.social-links a svg {
  color: white; /* Change this to the desired color */
}