.head {
  padding-top: 2rem;
  padding-left: 3rem;
}

.project-container {
  max-width: 100%;
  align-items: center;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 3fr));
  grid-gap: 20px;
  padding: 20px;
}

.project-card {
  background-color: #f2f2f2;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: transform 0.3s ease-in-out; /* Added transition for smooth zoom effect */
  animation: fade-in 0.5s ease-in-out both; /* Added animation for fade-in effect */
  opacity: 0; /* Initial opacity */
  transform: translateY(20px); /* Initial position */
}

.project-card.animate {
  opacity: 1; /* Final opacity */
  transform: translateY(0); /* Final position */
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.project-card:hover {
  transform: scale(1.05); /* Zoom effect on hover */
}

.project-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.project-title {
  font-size: 18px;
  margin-bottom: 10px;
  color: black;
}

.project-details p {
  margin-bottom: 10px;
  color: black;
}

.project-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  color: #000;
}

.button {
  padding: 8px 16px;
  text-decoration: none;
  color: #000000;
  width: 80px; /* Changed width of buttons */
  padding: 2px;
  border-radius: 4px;
  font-size: 12px;
  background-color: #f2f2f2;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
.button:hover {
  background-color: #dcdcdc;
}

.button:active {
  background-color: #bfbfbf;
}

@media screen and (max-width: 768px) {
  .project-container {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}
